.months h2 {
    margin-bottom: 50px;
    user-select: none;
}
.allMonths {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
}

.month {
    padding: 10px 7px;
    border-radius: 7px;
    user-select: none;
}
.month:hover {
    background-color: #45465a;
    cursor: pointer;
}

.allMonths .current-month {
    background-color: #545776;
}