/* Style Scroll Bar */
::-webkit-scrollbar {
  display: none;
}

.App {
  width: 100%;
  max-width: 500px;
  height: fit-content;
  max-height: 600px;
  border: 3px solid rgb(148, 156, 234, 52);
  background-color: #3C3E53;
  border-radius: 15px;
  margin: 10% auto 20px;
  padding: 30px;
  text-align: center;
  overflow-y: scroll;
}

.selected-date {
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .App {
    padding: 10px;
    padding-top: 30px;
  }
}